@using Microsoft.AspNetCore.Components.Authorization
@inject AuthClient AuthClient
@inject NavigationManager NavigationManager

<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="">
            <img src="/images/Logo_NoBackground.png" alt="GameVerse Logo" width="40" height="40" class="me-2">
            <span>GameVerse</span>
        </a>

        <div class="d-flex ms-auto align-items-center">
            <AuthorizeView>
            <Authorized>
                <button class="btn btn-outline-light me-2" @onclick="Logout">Sair</button>
                <a class="btn btn-outline-light me-2" href="user/games">Meus jogos</a>
            </Authorized>
            <NotAuthorized>
                <a class="btn btn-success me-2" href="login">Login</a>
                <a class="btn btn-success me-2" href="signup">Criar Conta</a>
            </NotAuthorized>
            </AuthorizeView>

            <AuthorizeView Roles="Admin">
            <a class="btn btn-primary" href="games">Administrador</a>
            </AuthorizeView>
        </div>
    </div>
</nav>

@code {
    private async Task Logout()
    {
        await AuthClient.LogoutAsync();
        NavigationManager.NavigateTo("", true);
    }
}