@page "/compra-sucesso"

<div class="text-center mt-5">
    <h2 class="text-success">Compra realizada com sucesso! 🎉</h2>
    <p>Obrigado por adquirir seu jogo na GameVerse!</p>

    <a class="btn btn-primary mt-3" href="">Voltar para a Home</a>
</div>
