@page "/"
@inject GamesClient Client

<PageTitle>GameCatalog</PageTitle>

<div class="mt-2">
    <a class="btn btn-success" href="/signup">Login / Criar Conta</a>
    <a class="btn btn-primary" href="/editgame">New Game</a>
</div>

@if (games == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <table class="table table-striped table-hover mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Genre</th>
                <th class="text-end">Price</th>
                <th>Release Date</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        @foreach (var game in games)
        {
            <tr>
                <td>@game.Id</td>
                <td>@game.Name</td>
                <td>@game.Description</td>
                <td class="text-end">@game.Price.ToString("C2")</td>
                <td>
                    @if (Client.GetPurchasedGames().Any(g => g.Id == game.Id))
                    {
                        <span class="badge bg-success">Comprado</span>
                    }
                    else
                    {
                        <a class="btn btn-success btn-sm" href="/confirmar/@game.Id">Comprar</a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<GameSummary>? games;

    protected override async Task OnInitializedAsync()
    {
        games = await Client.GetGamesAsync();
    }
}
