@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject GamesClient Client
@inject AuthClient AuthClient
@inject NavigationManager NavigationManager

<PageTitle>GameCatalog</PageTitle>

@if (games == null || purchasedGames == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <table class="table table-striped table-hover mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th class="text-end">Preço</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var game in games)
            {
                <tr>
                    <td>@game.Id</td>
                    <td>@game.Name</td>
                    <td>@game.Description</td>
                    <td class="text-end">@game.Price.ToString("C2")</td>
                    <td>
                        @if (purchasedGames.Any(g => g.Id == game.Id))
                        {
                            <span class="badge bg-success">Comprado</span>
                        }
                        else
                        {
                            <AuthorizeView>
                                <Authorized>
                                <a class="btn btn-success btn-sm" href="confirmar/@game.Id">Comprar</a>
                                </Authorized>
                            </AuthorizeView>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<GameSummary>? games;
    private List<GameSummary> purchasedGames = new();

    protected override async Task OnInitializedAsync()
    {
        games = await Client.GetGamesAsync();

        try
        {
            purchasedGames = await Client.GetUserGamesAsync();
        }
        catch
        {
            purchasedGames = new List<GameSummary>();
        }
    }

    private async Task Logout()
    {
        await AuthClient.LogoutAsync();
        NavigationManager.NavigateTo("");
    }
}
